    .pic-skills {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .hero {
        background: linear-gradient(rgba(78,197,193,0.4), rgba(78,197,193,0.4)), url(background320.png) no-repeat;
    
    }
    
@media (min-width: 460px) {
    .hero {
        background: linear-gradient(rgba(78,197,193,0.4), rgba(78,197,193,0.4)), url(background460.png) no-repeat;
    
    }
}
    
@media (min-width: 720px) {
    .hero {
        background: linear-gradient(rgba(78,197,193,0.4), rgba(78,197,193,0.4)), url(background720.png) no-repeat;
    
    }
}
    
@media (min-width: 980px) {
    .hero {
        background: linear-gradient(rgba(78,197,193,0.4), rgba(78,197,193,0.4)), url(background980.png) no-repeat;
    
    }
}

@media only screen 
and (min-width : 1224px) {

    nav {
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
        position: fixed;
        top: 0;
        right: 0;
        height: 60px;
        background-color: rgba(225,243,117, 0.75);
        width: 100%;
    }
    
    nav a {
        margin: 30px 40px 0px 40px;
        text-decoration: none;
        font-family: 'BioRhyme', serif;
        color: black;
        font-weight: bold;
    }
    
    .hero {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom: black 2px solid;
        background: linear-gradient(rgba(78,197,193,0.4), rgba(78,197,193,0.4)), url(background1resized.png) no-repeat;
        color: white;
        text-shadow: #343a40 2px 2px;
        font-family: 'BioRhyme', serif;
        letter-spacing: 1px;
    }

    .hero::after {
        background-color: rgba(255,0,0,0.5);
    }

    .social {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-top: 5%;
    }

    .fab, .fas {
        font-size: 30px;
        margin: 0 2.5%;
    }
    
    .hero-header {
        margin-top: 15%;
        font-family: 'Cabin', sans-serif;
        text-align: center;
    }
    
    .hero-header h1 {
        font-size: 70px;
        font-family: 'BioRhyme', serif;
    }


    .hero button {
        font-family: 'Cabin', sans-serif;
        font-weight: bold;
        width: 300px;
        padding: 10px 5px;
        margin-top: 5%;
        cursor: pointer;
        background-color: white;
    }

    .hero button:hover {
        background-color: #EC576C;
        border: white;
        color: white;
    }
    
    .bio {
        display: flex;
        flex-direction: column;
        margin: 0 10%;
        padding-top: 5%;
        font-family: 'Cabin', sans-serif;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
        /* text-align: center; */
        
    }
    
    .pic-skills {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .projects {
        display: flex;
        flex-direction: column;
        margin: 0 10%;
        padding-top: 5%;
        border-top: black 2px solid;
        border-bottom: black 2px solid;
    }

    .project {
        display: flex;
        flex-direction: row;
        /* margin: 0 10%; */
        justify-content: space-between;
        margin-bottom: 10%;
    }

    .project .info {
        margin: 0 10%;
    }

    .right {
        flex-direction: row-reverse;
    }
    
    .contact {
        display: flex;
        justify-content: center;
    }

