@media only screen 
and (min-width : 320px) {

    /* menu button */
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
  }
  
  .menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    color: #c00;
  }
  
  .main-menu {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s ease,
          box-shadow 0.3s ease;
    z-index: 999;
  }
  
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
       -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 200px;
    background: #1a1a1a;
  }
  
  .main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: rgba(78,197,193,1);
    text-decoration: none;
    border-bottom: 1px solid #383838;
  }
  
  .main-menu li:first-child a {
    border-top: 1px solid #383838;
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: #333;
  }
  
  .main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
  }
  
    .main-menu:target,
    .main-menu[aria-expanded="true"] {
    display: block;
    left: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    box-shadow: 3px 0 12px rgba(0,0,0,.25);
    }

    .main-menu:target .menu-close,
    .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
    }

    .main-menu:target ul,
    .main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
    }

    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop{
    position: absolute;
    display: block;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background:  rgba(225,243,117, 0.75);
    cursor: default;
    }

    @supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop{
        position: fixed;
        overflow: hidden;
        }
    }

    html {
    padding-right: 2px;
    padding-left: 2px;
    scroll-behavior: smooth;
      
    }

    img {
    max-width: 300px;
    height: auto;
   
    }

    h1, h2 {
    font-family: 'BioRhyme', serif;
    text-align: center;
    }


    h2 {
    font-family: 'BioRhyme', serif;
    font-size: 14px;
    }

    .hero-header {
        padding-top: 20px;
        color: white;
        text-shadow: #343a40 2px 2px;
    }

    .hero .social {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    text-shadow: #343a40 2px 2px;
    }

    .social a {
    color: inherit;
    }

    .fab, .fas {
    font-size: 25px;
    margin-right: 15px;
    margin-left: 15px;
    
    }
   

    .hero button {
        display: none;
    }

    .hero button:hover {
    background-color: #EC576C;
    border: white;
    color: white;
    }

    a:hover {
    color: #EC576C;
    }

    .pic-skills {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .avatar {
        border-radius: 50%;
    }

    .hero {
        background: linear-gradient(rgba(78,197,193,0.4), rgba(78,197,193,0.4)), url(background320.png) no-repeat;
    
    }
}   
@media (min-width: 375px) {
    .hero {
        background: linear-gradient(rgba(78,197,193,0.4), rgba(78,197,193,0.4)), url(background371.jpg) no-repeat;
    }
}

@media (min-width: 460px) {
    .hero {
        background: linear-gradient(rgba(78,197,193,0.4), rgba(78,197,193,0.4)), url(background460.png) no-repeat;
    }
}
    
@media (min-width: 720px) {
    .hero {
        background: linear-gradient(rgba(78,197,193,0.4), rgba(78,197,193,0.4)), url(background720.png) no-repeat;
    }
}

@media (min-width: 768px) {
    .menu-toggle,
    .main-menu .menu-close {
      display: none;
    }
  
    .main-menu {
      position: relative;
          left: auto;
          top: auto;
          height: auto;
      display: block;
    }
    
    .main-menu ul {
      display: flex;
      padding: 0;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
      height: auto;
      width: auto;
      background: none;
    }
    
    .main-menu a {
      color: rgb(78,197,193);
      border: 0 !important; /* Remove borders from off-canvas styling */
      float: right;
    }
    
    .main-menu a:hover,
    .main-menu a:focus {
      background: none; /* Remove background from off-canvas styling */
      color: black;
    }
  }

    
@media (min-width: 980px) {
    .hero {
        background: linear-gradient(rgba(78,197,193,0.4), rgba(78,197,193,0.4)), url(background980.png) no-repeat;
    
    }
}

@media only screen 
and (min-width : 1224px) {

    nav {
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
        position: fixed;
        top: 0;
        right: 0;
        height: 60px;
        background-color: rgba(225,243,117, 0.75);
        width: 100%;
    }
    
    nav a {
        margin: 30px 40px 0px 40px;
        text-decoration: none;
        font-family: 'BioRhyme', serif;
        color: black;
        font-weight: bold;
        
    }

    nav ul {
        float: right;
    }
    
    .hero {
        display: flex;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(rgba(78,197,193,0.4), rgba(78,197,193,0.4)), url(background1resized.png) no-repeat;
        color: white;
        text-shadow: #343a40 2px 2px;
        font-family: 'BioRhyme', serif;
        letter-spacing: 1px;
    }

    h2 {
        font-family: 'BioRhyme', serif;
        font-size: 30px;
        }

    .fab, .fas {
        font-size: 30px;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .hero-header {
        margin-top: 150px;
        font-family: 'Cabin', sans-serif;
        text-align: center;
        margin-right: 100px;
        margin-left: 100px;
    }
    
    .hero-header h1 {
        font-size: 70px;
        font-family: 'BioRhyme', serif;
    }


    .hero button {
        font-family: 'Cabin', sans-serif;
        font-weight: bold;
        width: 300px;
        padding: 10px 5px;
        margin-bottom: 150px;
        cursor: pointer;
        background-color: rgb(225,243,117);
        border: rgb(225,243,117);
        border-radius: 10%;

    }

    .hero button:hover {
        background-color: #EC576C;
        border: white;
        color: white;
    }

    a:hover {
        color: #EC576C;
    }
    
    .bio {
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        font-family: 'Cabin', sans-serif;
        background-color: rgba(78,197,193,0.4);
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
        
    }

    .info p {
        margin-right: 100px;
        margin-left: 100px;
        font-size: 20px;
    }

    .pic-skills {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .skills li {
        font-size: 24px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        background-color: rgba(225,243,117, 0.75);
    }

    .project {
        display: flex;
        flex-direction: row;
        margin: 0 10%;
        justify-content: space-between;
        margin-bottom: 10%;
    }

    .project .info {
        margin: 0 10%;
    }

    .right {
        flex-direction: row-reverse;
    }
    
    .contact {
        display: flex;
        justify-content: center;
    }

    footer {
        background-color: rgba(78,197,193,0.4);
    }

}