nav {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    
}

nav a {
    margin: 30px 40px 0px 40px;
    text-decoration: none;
    
}

nav img {
    width: 35px;
    height: 35px;
    margin: 20px;
}

.avatar {
    border-radius: 50%;
    width: 50px;
} 

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 225px;
    border-bottom: black 2px solid;
}

.hero h1 {
    font-size: 60px;
}

.hero button {
    width: 200px;
    height: 50px;
    margin-top: 40px;
}

.bio {
    margin: 0 20%;
    padding-bottom: 75px;
}

.bio img {
    width: 350px;
    height: auto;
    margin: 40px;
}

.skills {
    padding-top: 60px;
}

.skills li {
    list-style: none;
}

.pic {
    display: flex;

}

h1  {
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}

h2 {
   text-align: center; 
}

.projects {
    border: black 2px solid;
}

.projects img {
    width: 350px;
    height: auto;
    margin: 0 5%;
}

.right {
    margin-left: 20%;
    margin-right: 20%;    
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.left {
    margin-left: 20%;
    margin-right: 20%;    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 100px;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact img {
    width: 35px;
    height: 35px;
    margin: 0 40px;
    margin-bottom: 50px;
}